n8n-workflow.json
{
  "updatedAt": "2026-06-12T05:28:24.237Z",
  "createdAt": "2026-06-11T11:31:51.758Z",
  "id": "ODcOAUvQHLpt7084",
  "name": "Job Application Auto-Tracker",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "T5pPdioGHh3mU8Wl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length > 0) {\n  return [items[0]];\n}\nreturn [];"
      },
      "id": "limit-1",
      "name": "Limit to 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        304
      ]
    },
    {
      "parameters": {},
      "id": "mime-decode",
      "name": "Decode MIME Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        612,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "options": {
          "timeout": 15000
        },
        "jsonBody": {
          "system_instruction": {
            "parts": [
              {
                "text": "Extract job application details from this email. Return ONLY valid JSON with fields: company_name, job_role, date (application or interview date found), email_type (one of: application_confirmation, interview_invitation, rejection, offer_letter, assessment, follow_up, networking, other), summary (1-2 sentence summary)."
              }
            ]
          },
          "contents": [
            {
              "parts": [
                {
                  "text": "={{ $json.raw_text }}"
                }
              ]
            }
          ]
        },
        "bodyContentType": "json"
      },
      "id": "gemini-request",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        852,
        304
      ]
    },
    {
      "parameters": {},
      "id": "parse-validate",
      "name": "Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1108,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.company_name }}",
              "operation": "notEqual",
              "value2": "Unknown"
            }
          ]
        }
      },
      "id": "if-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1364,
        304
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10FEJClOxZiAqel6GBzjV_30rUr0c3QHmnImVqCNwI_k",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1604,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eDTc6qej6rlNy7wY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "text": "{{ $json.email_type == \"offer_letter\" ? \"\ud83c\udf89\" : $json.email_type == \"interview_invitation\" ? \"\ud83c\udfaf\" : $json.email_type == \"rejection\" ? \"\u274c\" : \"\ud83d\udccb\" }} *{{ $json.email_type }}*\n\nCompany: {{ $json.company_name }}\nRole: {{ $json.job_role }}\nDate: {{ $json.application_date }}{{ $json.summary ? \"\\n\\n\" + $json.summary : \"\" }}\n\nLogged to Google Sheets.",
        "additionalFields": {
          "parse_mode": "Markdown"
        },
        "chatId": "5460127583"
      },
      "id": "telegram-send",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1860,
        208
      ],
      "webhookId": "9e9923b0-3184-49e3-a04a-e61221471f98",
      "credentials": {
        "telegramApi": {
          "id": "MlR7yYgp3QliClZe",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-end",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2100,
        304
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode MIME Body": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "Parse & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheet": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "Decode MIME Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": 1781242109
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "de8c6f4f-7294-461f-9ed9-8ad53261f129",
  "activeVersionId": "de8c6f4f-7294-461f-9ed9-8ad53261f129",
  "versionCounter": 10,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-11T20:55:09.000Z",
      "createdAt": "2026-06-11T20:55:09.000Z",
      "role": "workflow:owner",
      "workflowId": "ODcOAUvQHLpt7084",
      "projectId": "proj_6749b6aa8614",
      "project": {
        "updatedAt": "2026-06-11T20:55:09.000Z",
        "createdAt": "2026-06-11T20:55:09.000Z",
        "id": "proj_6749b6aa8614",
        "name": "Sachin's Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-06-12T05:28:24.256Z",
    "createdAt": "2026-06-12T05:28:24.256Z",
    "versionId": "de8c6f4f-7294-461f-9ed9-8ad53261f129",
    "workflowId": "ODcOAUvQHLpt7084",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {}
        },
        "id": "gmail-trigger",
        "name": "Gmail Trigger",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1,
        "position": [
          256,
          304
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "T5pPdioGHh3mU8Wl",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {},
        "id": "mime-decode",
        "name": "Decode MIME Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          512,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "gemini-request",
        "name": "Gemini API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          752,
          304
        ]
      },
      {
        "parameters": {},
        "id": "parse-validate",
        "name": "Parse & Validate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1008,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.company_name }}",
                "operation": "notEqual",
                "value2": "Unknown"
              }
            ]
          }
        },
        "id": "if-valid",
        "name": "Is Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1264,
          304
        ]
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "10FEJClOxZiAqel6GBzjV_30rUr0c3QHmnImVqCNwI_k",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Sheet1",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "sheets-append",
        "name": "Append to Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1504,
          208
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "eDTc6qej6rlNy7wY",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "text": "{{ $json.email_type == \"offer_letter\" ? \"\ud83c\udf89\" : $json.email_type == \"interview_invitation\" ? \"\ud83c\udfaf\" : $json.email_type == \"rejection\" ? \"\u274c\" : \"\ud83d\udccb\" }} *{{ $json.email_type }}*\n\nCompany: {{ $json.company_name }}\nRole: {{ $json.job_role }}\nDate: {{ $json.application_date }}{{ $json.summary ? \"\\n\\n\" + $json.summary : \"\" }}\n\nLogged to Google Sheets.",
          "additionalFields": {
            "parse_mode": "Markdown"
          },
          "chatId": "5460127583"
        },
        "id": "telegram-send",
        "name": "Send Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          1760,
          208
        ],
        "webhookId": "9e9923b0-3184-49e3-a04a-e61221471f98",
        "credentials": {
          "telegramApi": {
            "id": "MlR7yYgp3QliClZe",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "parameters": {},
        "id": "noop-end",
        "name": "End",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2000,
          304
        ]
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Decode MIME Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decode MIME Body": {
        "main": [
          [
            {
              "node": "Gemini API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini API": {
        "main": [
          [
            {
              "node": "Parse & Validate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Validate": {
        "main": [
          [
            {
              "node": "Is Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid?": {
        "main": [
          [
            {
              "node": "Append to Sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "End",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append to Sheet": {
        "main": [
          [
            {
              "node": "Send Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Telegram": {
        "main": [
          [
            {
              "node": "End",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sachin Chaudhary",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-12T05:28:31.796Z",
        "id": 1,
        "workflowId": "ODcOAUvQHLpt7084",
        "versionId": "de8c6f4f-7294-461f-9ed9-8ad53261f129",
        "event": "activated",
        "userId": "usr_59347c8c0382463e"
      }
    ]
  },
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:update"
  ],
  "checksum": "82dbc2a91529439aa75c5e812482aca7803995dea2ebcd44526e5203345d8a59"
}